# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

.venv/

imgtest/

models/

app/src/main/assets/labels.txt
app/src/main/assets/*.bin
app/src/main/assets/*.param


*.zip

# cmake编译产物
app/.cxx/